<div class="jumbotron center">
	<h1>Welcome to Home Page</h1>
	<h2>The Best recipes sharing site is here for you.......</h2>
	<p><%= link_to "Signup to the site!", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %></p>

</div>

<div class="row">
    <div class="col-lg-4">
      <h2>About the site!</h2>
      This site ---- "My Recipes"  was created in 2018 by the group of alumini from the leading Institutes of India. Go ahead and click on the below link to know more about the founders of the site </p>
      <p><a class="btn btn-primary btn-xlarge" href="#" role="button">About the founders &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Criteria to be a chef</h2>
      <p>A Person who needs himself to registeer as a chef to this site shouls atleast have created 100 recipes of his own and he should be a citizen of India. Go and check in the link below to know more about the criteria. </p>
      <p><a class="btn btn-primary btn-xlarge" href="#" role="button">For More Info--Click here &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Guidelines for a Recipe</h2>
      <p>A Recipe posted in this site shouls meet the basic guidelines specified. At any point if the Admin feels that the recipe is in violation to the guidelines specified. Admin has the soles right to not only delete the recipe but also can delete the User(Chef). For more details on the guidelines for the recipe Click the link below. </p>
      <p><a class="btn btn-primary btn-xlarge" href="#" role="button">Valid Recipe--Click here  &raquo;</a></p>
    </div>
</div>