<footer class="footer">
   <small>
        <strong> &copy; 2018 Company, Inc.  Inspired by <a href="https://rapidapi.com/blog/best-recipe-sites/">Worlds Top cooking sites</a></strong> by <em> Rajendra Tanguturu </em>
   </small>
   <nav>
        <ul><li><%= link_to "About",  "#" %></li></ul>   
   </nav>
</footer>